/*Add your CSS here*/
* {margin: 0;
   padding: 0;
   box-sizing: border-box;
   color: #2f4f4f;
  }
h1 {
   font-size: 60px;
   color: #008b8b;
}
img {
   with: 100%;
   height: auto;
}
.caption {
  color: #b22222;
  font-style: bold;
}
a:link {
   color:#2f4f4f ;
}
a:visited {
   color:#696969 ;
}
a:hover {
   color:#00ffff ;
}
a:active {
   color:#b22222 ;
}
footer a:hover {
text-decoration: none;
}





/*No touch*/
h1, h2, nav, .cap, footer {
  text-align: center;
}

nav {
  padding: 1rem 0 2rem 0;
}

figure, h2, footer {
  padding-bottom: 1rem;
}

section {
  padding: 2rem 0;
}

p{
  margin: 0 10vw;
}
